.words-main {
	h1 {
		font-size: 2em;
		padding-bottom: 1em;
	}
}

.words-content {
	.words-slider-ctrl {
		background: #6E9BB7;

		.words-slider-btn {
			color: white;
			padding: 1em;
			border: 1px solid #6E9BB7;

			&.is-active {
				background: white;
				color: #6E9BB7;
			}
		}
	}
	.words-slider {
		width: 300vw;
		left: 0;
		transition: left .5s;
	}

	section {
		height: 21em;
		width: 100vw;

		&.words-post {
			background: #D2EFE1;
		}

		&.words-get {
			background: #D2E3EF;
		}

		&.words-delete {
			background: #EFC6D7;
		}

		h2 {
			font-size: 1.2em;
		}

		.help {
			font-size: .9em;
		}

		textarea {
			min-height: 10em;
		}
	}
}
